body{
    margin: 0;
    padding: 10%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(13, 13, 53);
}

.first-line{
    color: white;
}
.second-line{
    color: rgb(13, 95, 13);
}
p{
    color: azure;
}
button{
    background-color: rgb(13, 95, 13);
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}
input{
    padding: 10px 20px;
}
ul{
    background-color: rgb(2, 2, 17);
    color: rgb(13, 95, 13);
    font-weight: bold;
}

